{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <article class="mainpage {{post_class}} {{#if image}}featured-image" style="background-image: url('{{image}}'){{/if}}">

        <div class="post-inner">
            <header class="post-header">
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></div>
            </header>
            <section class="content-temp">
                {{content words="0"}}
            </section>
            <section class="post-excerpt">
                <p>{{excerpt words="150"}}&hellip;</p>
            </section>
        </div>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
